@media only screen and (max-width: 600px) {
    .nav-bar ul {
        display: none;
    }
    .nav-bar .logo {
        width: 90%;
    }
    .nav-bar button {
        background-color: transparent;
        border: none;
        font-size: 40px;
        width: 100px;
        min-width: 10%;
    }
    #fa-bars {
        display: block;  
    }
    #fa-times {
        display: none;
    }
    #ham_menu {
        width: 100%;
        border: 1px solid black;
        display: none;
        position: fixed;
    }
    .ham_menu li {
        width: 100%;
        height: 50px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ham_menu li a {
        color: white;
    }
}
@media only screen and (max-width: 300px) {
    .nav-bar {
        height: 200px;
    }
    .content {
        padding-top: 200px;
    }
}