.content {
    flex-direction: column;
    width: 70%;
    margin: auto;
    text-align: center;
}
.content .title1 {
    /* font-family: 'Fira Sans', sans-serif;
    font-family: 'Mulish', sans-serif; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Splash', cursive; */

    font-size: 30px;
}
.content .desc {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    padding-top: 10px;
}
.content .section {
    display: flex;
    width: 100%;
    flex-flow: wrap;
}
.content .section .book {
    width: 200px;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content .section .book .image {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.content .section .book .title {
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

/* about page */
.content {
    display: flex;
    width: 100%;
    height: auto;
}
.left-sect {
    width: 50%;
    padding-top: 100%;
    /* background-image: url(../images/jk_rowling_3.jpg); */
    background-color: cadetblue;
    /* filter: blur(30), grayscale(100%); */
    display: flex;
    justify-content: center;
    z-index: -3;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo {
    width: 40%;
    padding-top: 40%;
    border-radius: 50%;
    margin: 3%;
    background-image: url(../images/jk_rowling_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    border: 5px solid rgba(95, 158, 160, 0.411);
    z-index: -3;
}
.right-sect {
    width: 44%;
    height: auto;
    margin-left: 50%;
    border-left: 6px solid black;
    padding: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

/*contact us*/
.content_contact {
    width: 70%;
    height: auto;
    margin: auto;
}
.cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.cd {
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 30px;
    text-align: center;
}
.cd i {
    color: rgb(0, 191, 255);
    font-size: 30px;
    margin-top: 30px;
}
.cd h2 {
    font-family: 'Oswald', sans-serif;
    margin: 10px;
}
.cd p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content_contact .contact {
    width: 50%;
    height: auto;
    margin: auto;
    background-color: white;
    padding-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

form label, form input, form textarea {
    margin: 10px;
    margin-left: 20px;
    width: calc(100% - 50px);
    font-family: 'Oswald', sans-serif;
}
form input {
    height: 50px;
}
form textarea {
    height: 100px;
}
form input {
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 100% !important;
    }
    #about {
        width: calc(100% - 60px) !important;
        padding-top: 100px;
    }
    .left-sect, .photo {
        display: none;
    }
    .jpg {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: block;
        background-image: url(../images/jk_rowling_3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        
    }
    .right-sect {
        width: 100%;
        margin-left: -30px;
        border: none;
    }
    .nav-bar ul {
        display: none;
    }
    .nav-bar .logo {
        width: 90%;
    }
    .nav-bar button {
        background-color: transparent;
        border: none;
        font-size: 40px;
        width: 100px;
        min-width: 10%;
    }
    #fa-bars {
        display: block;  
    }
    #fa-times {
        display: none;
    }
    #ham_menu {
        width: 100%;
        border: 1px solid black;
        display: none;
        position: fixed;
        list-style: none;
    }
    .ham_menu li {
        width: 100%;
        height: 50px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ham_menu li:hover {
        color: black;
        background-color: white;
    }
    .ham_menu li a {
        color: white;
    }
    .cards {
        flex-direction: column;
    }
    .contact {
        width: 90% !important;    
    }
}
@media only screen and (max-width: 300px) {
    .nav-bar {
        height: 200px;
    }
    .content {
        padding-top: 200px;
    }
}
@media only screen and (min-width: 600px) {
    .nav-bar button {
        display: none !important;
    }
    .ham_menu {
        display: none !important;
    }
    .jpg {
        display: none !important;
    }
}